 <footer id="footer" >

    <div class="footer-newsletter" data-aos="fade-up" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4 style="color:white">Connect With Us</h4>
            <p style="color:white"></p>
            <form action="" method="post">
              <input type="email" placeholder="enter your e-mail" name="email"><input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up" data-aos-delay="100">
            <h3>Protech Field</h3>
            <p>
             <br>D,18 , Gangadeep Colony, Jhunsi , Prayagraj- 211019<br>
              <strong>Phone:</strong>8543061709<br>
              <strong>Email:</strong>protechfieldworld@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
            <h4>Workshops</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Li-fi and automation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Air-craft design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sun rays follower</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Illusions
</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Beta counseling</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="#">Locomotives design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Medical drag</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
            <h4>Workshops</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Line follower robot</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Solar panel design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Salt car design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Light pollution</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Professional communication</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">World explorer with point system</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Mind explore mediation</a></li>
            </ul>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="400">
            <h4>Our Social Networks</h4>
            <p>Get Connected with us on these social platforms</p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/FieldProtech" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://m.facebook.com/Protechfield/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/protechfield11/?hl=en"  target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.linkedin.com/in/protech-field-a3b280203/"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright" style="color:white">
        &copy; Copyright <strong><span>Devoftech</span></strong>. All Rights Reserved
      </div>
     
    </div>
  </footer>