<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProtechField Login</title>
    <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    body {
        background-color: #DC5113;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 13em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    .sign {
        padding-top: 40px;
        color: #DC5113;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
    
    .un {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .pass {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .un:focus,
    .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
    }
    
    .submit {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: #DC5113;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    .submit:hover {
        background-color: white;
        color: #DC5113;
        border: 2px solid #DC5113;
        font-weight: 800px;
    }
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        padding-top: 15px;
    }
    
    .un:hover {
        border: 2px solid #DC5113;
    }
    
    .pass:hover {
        border: 2px solid #DC5113;
    }
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
            max-width: 90%;
        }
        .un {
            width: 70%;
        }
        .pass {
            width: 70%;
        }
        .submit {
            margin-left: 31%;
        }
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* The Modal (background) */
    
    .modall {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 200px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content */
    
    .modall-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        height: 200px;
        text-align: center;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    /* The Close Button */
    
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    #em {
        width: 50%;
        height: 40px;
        border-radius: 20px;
        text-align:center;
    }
    
    #em:hover {
        border: 2px solid #DC5113;
    }
    
    @media screen and (max-width:800px) {
        .modall-content {
            width: 80%;
        }
        #em{
            width:90%;
            height:35px;
            text-align:center;
        }
    }
    
    @media screen and (min-width:800px) {
        .modall-content {
            width: 50%;
        }
    }
    
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    
    .proceed {
        border: none;
        background-color: #DC5113;
        color: white;
        font-weight: 700;
        padding: 10px 30px;
        border-radius: 20px;
    }
</style>

<body>
    {{>header}}
    <div class="main">
        <p class="sign" align="center">LOG-IN</p>
        {{#if message}}
        <p align="center">{{message}}</p>
        {{/if}}
        <form action="/login" method="POST" id="login" class="form1">
            <input class="un " type="text" align="center" name="email" placeholder="E-Mail" required>
            <input class="pass" type="password" name="password" align="center" placeholder="Password" required>
            <input type="hidden" value="{{csrfToken}}" name="_csrf">
            <button class="submit" style="margin-left:auto; margin-right:auto; display:block; padding:10px 30px">submit</button>
        </form>

            <p class="forgot" id="mybtn" align="center"><a href="#" style="color:#EF7F4D" id="myBtn">Forgot Password?</p>
                <div id="myModall" class="modall">

                    <!-- Modal content -->
                    <div class="modall-content">
                      <span class="close">&times;</span>
                      <h1 class="sign" style="margin-top:-30px;">Enter Your Email</h1>
                      <form  method="POST" action="/user/forgot">
                        <input type="hidden" value="{{csrfToken}}" name="_csrf">
                        <input type="email" name="email" placeholder="example@devoftech.com" id="em"> <br><br>
                        <button type="submit" class="proceed">Proceed</button>
                      </form>
                    </div>
                  
                  </div>
        </div>
        
        <script>
            // Get the modal
            var modall = document.getElementById("myModall");
            
            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");
            
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            
            // When the user clicks the button, open the modal 
            btn.onclick = function() {
              modall.style.display = "block";
            }
            
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modall.style.display = "none";
            }
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modall) {
                modall.style.display = "none";
              }
            }
            </script>


  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
</body>
</html>