<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProtechField Login</title>
</head>
<style>
    body {
        background-color: #DC5113;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .main {
        background-color: #FFFFFF;
        width: 80%;
        margin: 13em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    p {
        padding: 30px 50px;
        font-size: 30px;
        color: #DC5113;
        font-weight: 700;
    }
    
    @media screen and (max-width:800px) {
        .main {
            width: 90%;
            margin: 9em auto;
        }
        p {
            font-size: 24px;
        }
    }
</style>

<body>
    <div class="main">
        <p class="sign" align="center">{{message}}</p>
    </div>
</body>

</html>